[2016-04-10 16:01] f242 opened #1 "Не выставляет оценки"
винда 8.1 х64 запущена на варе
поставил последнюю яву и лису
запустил .ехе последний, открыл в нём эксель со своими оценками
в лисе открыл имдб, авторизовался, нашёл куку id и скопировал промотав вправо ибо параметр длинный
вставил куку из буфера, списочки не выбирал ибо их нету и нужно только выставление оценок, такой режим и выбрал - без списков, просто оценки
нажал запустить
кнопка отобразила ч

[2016-04-10 19:08] REDNBLACK commented on #1
Консоли нет, есть лог.
Зайдите в Пользователи/Имя пользователя/K2IDB/logs/K2IDB.log
откройте и запостите сюда его содержимое.

[2016-04-10 19:09] REDNBLACK commented on #1
И да, прогресс бар (тот что слева от кнопки запустить), заполнялся или ничего не происходило?

[2016-04-10 19:27] f242 commented on #1
прогрессбар остаётся пустым, только кнопка запуска сменяется на "в процессе"
вот лог
[K2IDB.txt](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/211932/K2IDB.txt)

на имдб ни одной оценки так и не появилось

[2016-04-10 19:34] REDNBLACK commented on #1
2016-04-10 22:18:55,694 INFO  AbstractMovieHandler [SetRatingHandler.java:28] Setting rating of movie: Movie{id=2, title=I Smile Back, year=2015, imdb_id=tt3640682}
2016-04-10 22:18:55,695 INFO  AbstractMovieHandler [SetRatingHandler.java:36] Movie doesn't have rating!

Вот и ваша проблема, список с кинопоиска был экспортирован без оценок.
Откройте в блокноте и проверьте сами если не верите мне, у

[2016-04-10 19:36] REDNBLACK commented on #1
Либо скиньте xls файл сюда, если уверены что ошибка в программе или лень смотреть файл.

[2016-04-10 19:38] f242 commented on #1
[votes.zip](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/211938/votes.zip)

[2016-04-10 19:44] REDNBLACK commented on #1
Да, ошибка в программе, починю в следующей версии.
Попробуйте экспортировать способом через

[2016-04-10 19:49] f242 commented on #1
а у меня и на кинопоиске списков нет, там я могу экспортнуть только "буду смотреть" и "примечания", так что буду ждать новую версию, спасибо за труды

[2016-04-10 20:30] REDNBLACK commented on #1
Исправил, можете перекачать и пробовать.
На всякий случай в Дополнительных настройках, поставьте галочку `Чистый запуск`

[2016-04-10 23:32] f242 commented on #1
появилось несколько оценок из ~2500, и тишина, прогрессбар по прежнему неактивен, вот лог
[K2IDB.txt](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/212074/K2IDB.txt)

[2016-04-11 00:17] REDNBLACK commented on #1
Он не не активен, скорее не может пока отрисовать прогресс на такое большое количество оценок.
После этой строки ничего не появилось в логе?
2016-04-11 02:12:56,094 INFO  AbstractMovieHandler [ParseIDHandler.java:33] Preparing movie Movie{id=16, title=Crystal Fairy & the Magical Cactus and 2012, year=2013, rating=4}

[2016-04-11 00:24] REDNBLACK opened #2 "IMDB возвращает отличающиеся statusCode"
В заголовках ответа 200, а в теле ответа 403.

[2016-04-11 00:24] #2 closed, assigned to nobody

[2016-04-11 00:30] REDNBLACK commented on #1
А вобще спасибо за идею, сделать чтоб отображало также в прогресс баре текущий шаг и общее количество импортируемых фильмов.

[2016-04-11 00:31] REDNBLACK opened #3 "Добавить доп информацию в прогресс бар"
Отображение текущего шага и сколько всего.

[2016-04-11 01:41] #3 closed, assigned to nobody

[2016-04-11 02:18] REDNBLACK opened #4 "Фильмы со специальными символами в названиях не всегда сравниваются в SmartTitleComparator"
К примеру K&#xF4;kaku kid&#xF4;tai: Stand Alone Complex не сравнивалось с Kokaku kidotai: Stand Alone Complex

[2016-04-11 02:18] #4 closed, assigned to nobody

[2016-04-11 07:06] f242 commented on #1
сделал чистый запуск, ждал 40 минут, всё те же 14 оценок, вот лог
[K2IDB.txt](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/212422/K2IDB.txt)

[2016-04-11 09:54] REDNBLACK commented on #1
<img width="712" alt="2016-04-11 12 53 10" src="https://cloud.githubusercontent.com/assets/1498939/14423419/6d4c34fa-ffe4-11e5-9091-db9d7265f6e3.png">

Ага у меня тоже на 14 ровно зависло с вашего списка... Буду смотреть что не так

[2016-04-11 10:02] REDNBLACK commented on #1
Нашел ошибку. В следующем релизе сегодня будет фикс. Спасибо большое за тесты

[2016-04-11 10:39] REDNBLACK opened #5 "Неправильно подготавливается queryString в запросах"
Символ "&" не эскейпится.

[2016-04-11 10:40] #5 closed, assigned to nobody

[2016-04-11 10:44] REDNBLACK commented on #1
Удалось починить в новом релизе, проверьте плиз:

<img width="712" alt="2016-04-11 13 31 24" src="https://cloud.githubusercontent.com/assets/1498939/14424661/fe9d3868-ffea-11e5-87d4-e421bff13312.png">

[2016-04-11 11:38] f242 commented on #1
теперь .ехе не запускается, в диспетчере на секунду мелькает javaw.exe и всё

[2016-04-11 11:53] REDNBLACK commented on #1
Удалите config.json в Пользователи/Имя пользователя/K2IDB.
Правда настройки нужно заново будет указать.
И да, чистый запуск не обязательно делать, для того же файла оно продолжит с нужного места.

[2016-04-11 11:58] f242 commented on #1
ура! процесс пошёл, перевалило за 100

[2016-04-11 11:59] f242 opened #6 "Добавить счётчик оставшегося времени"
очень нехватает при большом количестве оценок

[2016-04-11 12:00] f242 commented on #1
застряло на 109

[2016-04-11 12:01] REDNBLACK commented on #1
Я с вашего файла смог импортировать 2346 оценок:
<img width="692" alt="2016-04-11 15 00 38" src="https://cloud.githubusercontent.com/assets/1498939/14426238/39079bf0-fff6-11e5-871d-68a9d93e9988.png">

[2016-04-11 12:02] REDNBLACK commented on #6
Да, неплохо было бы иметь. Возможно сделаю в ближайшем релизе.

[2016-04-11 12:03] REDNBLACK commented on #1
А что в логах? Или уже прошло?

[2016-04-11 12:05] f242 commented on #1
нет, на 109 так и застопорилось
[K2IDB.txt](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/212872/K2IDB.txt)

[2016-04-11 12:07] REDNBLACK commented on #1
Попробуйте закрыть и открыть снова программу. Странно, по логам все ок, должно было вылететь по таймауту.

[2016-04-11 12:14] f242 commented on #1
снова на 109 затык
делаю чистый запуск, просто выставить рейтинг

[2016-04-11 12:18] REDNBLACK commented on #1
Файл с оценками у меня есть, и с него успешно импортировалось 2346 фильмов...
Так попробуйте следующее, а я тоже попробую:
1. Сотрите всю папку Пользователи/Имя пользователя/K2IDB
2. В настройках Для экспертов выставите log_level в debug.
3. Заново запустите, и пришлите лог.

[2016-04-11 12:29] f242 commented on #1
опять 109
[K2IDB.txt](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/212926/K2IDB.txt)

[2016-04-11 12:33] REDNBLACK commented on #1
Да, у меня тоже... Уже смотрю что не так.

[2016-04-11 12:53] REDNBLACK opened #7 "MovieAuthStringFetcher может возвращать NullPointerException на пустой body ответа"

[2016-04-11 12:54] #7 closed, assigned to nobody

[2016-04-11 13:02] REDNBLACK commented on #1
Фух... Поправил, проверил с вашим списком, пошло дальше 120.
Надеюсь больше ошибок не будет.
https://github.com/REDNBLACK/J-Kinopoisk2IMDB/releases/tag/0.9.5

[2016-04-11 13:25] f242 commented on #1
да, вроде работает, за 500 перевалило

[2016-04-11 13:26] REDNBLACK commented on #1
Ну наконец-то :)

[2016-04-11 13:34] f242 commented on #1
кажется рано радоваться, где-то в районе 700 счётчик быстро накрутился до 1800 буквально за пару секунд, как только закончится выложу дебаглог

[2016-04-11 13:59] f242 commented on #1
![clipboard01](https://cloud.githubusercontent.com/assets/10371194/14429512/6fcd2532-0006-11e6-933b-220fa9c98956.png)

лог
[K2IDB.zip](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/213088/K2IDB.zip)

[2016-04-11 14:00] f242 opened #8 "javaw.exe висит в процессах после закрытия приложения"
приходится закрывать через диспетчер задач

[2016-04-11 14:03] REDNBLACK commented on #1
Ну тут все просто, либо отошли от компа и он перешел в режим сна, соотвественно программа потеряла соединение с сетью, и после того как копмьютер вышел из сна - программа продолжила вхолостую не дожидаясь восстановления соединения.

Пока просто запустите заново, продолжит с последнего не импортированного фильма.

А вот в качестве решения, я могу сделать так, что пока запущена программа - компьютер

[2016-04-11 14:06] f242 commented on #1
переход в спящий режим отключён, ок, попробую повторно стартануть

[2016-04-11 14:31] f242 commented on #1
повторно процесс продолжился, оставалось ~1200 фильмов и снова кажется на отметке в 530 счётчик резко ускорился, на этот раз дойдя до конца и вылетело окошко, что работа завершена с ошибками как в прошлый раз

[2016-04-11 14:35] REDNBLACK commented on #1
Из-за чего то теряется соединение с сетью, либо с самим IMDB, либо у вас отваливается.

Ну еще раз попробуйте запустить, может хоть сейчас до конца сможет.

[2016-04-11 15:28] REDNBLACK commented on #8
ОС Винда 8.1?

[2016-04-11 15:29] f242 commented on #8
да, х64

[2016-04-11 15:30] REDNBLACK opened #9 "Программа не ждет восстановления соединения после его разрыва"
Нужно добавить ожидание возврата соединения (ping imdb).

[2016-04-11 15:32] #9 closed, assigned to nobody

[2016-04-11 15:36] REDNBLACK commented on #1
Добавил в новом билде ожидание возврата соединения. Эту тему я так понимаю можно закрывать, все прошло ок?

[2016-04-11 15:38] f242 commented on #1
да, всё ок

[2016-04-11 15:41] #1 closed, assigned to nobody

[2016-04-11 17:11] #8 closed, assigned to nobody

[2016-05-07 20:49] REDNBLACK opened #10 "Неправильная сортировка спарсенных фильмов"
Нужно сделать обратную сортировку.

[2016-05-07 21:20] #10 closed, assigned to REDNBLACK

[2016-08-03 03:48] ertyz opened #11 "Поиск только по фильмам"
Версия 1.1.1 ищет не только по фильмам, но и по видеоиграм и прочему, чего на кинопоиске в принципе нет.

Например на фильм "Обитель зла (Resident Evil) (2002)" программа нашла и проставила оценку какой-то игре: http://www.imdb.com/title/tt0302327/

А мультсериал "Наруто" как http://www.imdb.com/title/tt0424302/

[2016-08-03 16:25] REDNBLACK commented on #11
На самом деле данный функционал (поиск только по фильмам и сериалам) есть. Странно что не сработало.

Мне необходим ваш конфиг (config.json), лог (K2IDB.log) и (желательно) список использовавшийся для импорта (*.xls).
Конфиг и лог лежат в Пользователи/Имя пользователя/K2IDB/

[2016-08-05 20:51] ertyz commented on #11
Я снял галочку "тип фильма с полным совпадением". Возможно произошло из-за этого. Просто не хотел сравнивать жанры, но уж видеоигра, это какой-то совсем "отдельный" жанр.

[2016-08-05 20:57] REDNBLACK commented on #11
Это не жанры, это тип фильма :)

Да, думаю стоит исключить все кроме типов относящихся к фильмам, а так да, ошибки никакой нет, закрываю.

[2016-08-05 20:57] #11 closed, assigned to REDNBLACK

[2016-08-18 08:56] AucT opened #12 "Локальная база Kinopoisk2IMDB"
Если нужно у меня есть 1м фильмов кинопоиска с imdb_id (правда из 1м там только 138к фильмов которие есть на Imdb_id)

Предлагаю использовать сначала локальную базу, а потом если нет в локальной базе искать на imdb

Прикрепляю 2 sql файла (полний и только те что имеют imdb_id). Взято с неоф. апи кинопоиска.
для економии места id imdb числом (нужно переформатировать пример на пхп:)

[code]

[kinopo

[2016-08-18 09:16] AucT opened #13 "Добавить IMDB 2 IMDB importer"
хотелось б иметь еще прогу чтоб можна било импортировать список imdb в имдб.

многие сайти типа movieo.me имеют опцию експорта с Imdb ID и title

[2016-08-19 19:04] REDNBLACK commented on #12
Круто, постараюсь реализовать в ближайшее время.

[2016-08-19 19:05] REDNBLACK commented on #13
Разве на самом imdb нет опции импортирования? Экспорт точно есть.

[2016-08-22 13:06] AucT commented on #13
импорта нет :(

[2016-08-22 17:16] REDNBLACK commented on #13
Ну а формат этих данных для импорта есть?
Можно добавить много модулей, но мне нужно знать формат списка для каждого, а времени регистрироваться и изучать сейчас особо нет.

[2016-08-23 08:40] AucT commented on #13
вот что дает imdb

[code]

вот что дает movieo

[code]

Но ето неважно, смисл сделать для начало любой формат (например написать что imdb id колонка должна иметь заголовок в csv imdbId, а рейтинг - myRating.)

Позже ентузиасти могут сделать веб сайт - конвертер колонок в csv файле, или если будет время сделать что пользователь сам вибирает какая колонка ето ImdbId, а какая - его рейтинг

[2016-08-23 08:45] AucT commented on #12
как реализуешь -  файл бази отдельно делай, а не пихай в екзешник, или так чтоб можно било обновлять только локальний файл. без нужди качать всю програму. Или в самой проге чтото сделать для самообновки бази. (на крайняк типа открил прогу - тебе пишет есть обновленная база, и кнопи скачать, отмена - при нажатии скачать тупо кидать на гугл диск с файлом)

и еще я взглянул не много на список. там ес

[2016-10-03 06:45] standone opened #14 "Ошибка "movie authorisation string is empty", что делать?"
<img width="640" alt="2016-10-03 09 41 23 am" src="https://cloud.githubusercontent.com/assets/1965119/19029310/c8bbb0ac-894d-11e6-9d58-b0b7c6cb3e3a.png">
Выдаёт такую ошибку, @REDNBLACK, подскажите, пожалуйста, что делать? Фильмы в список imdb импортировались, а вот оценки нет (в файле кинопоиска оценки проставлены). MacOS Sierra 10.12 (16A323)

[2016-10-03 11:46] systems-rebooter opened #15 "Как обновить разницу оценок?"
Спасибо за востребованную прогу!

Подскажите как правильно обновить разницу оценок просмотреных фильмов?

Пробовал удалить из xls уже добавленые оценки - kinopoisk2imdb говорит что импортнула 0 фильмов (хотя должна около 40). Если дать неизмененный файл-экспорт с кинопоиска - прога обрабатывает все 1300 фильмов при снятой галочке "Чистый запуск" по новой.

[2016-10-03 18:12] REDNBLACK commented on #14
Скорее всего вы забыли указать "Строка авторизации IMDB" [(скриншот)](https://cloud.githubusercontent.com/assets/1498939/14435615/74ab56f8-0021-11e6-9645-6d44a53ff63e.png), которую нужно получить этим способом - [ссылка](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/blob/master/docs/ObtainIMDBAuthString.pdf)

Укажите ее, и заново запустите в режиме выставления оценок, на тот же файл .xls
Если увер

[2016-10-03 18:16] REDNBLACK commented on #15
Программа смотрит на хэшкод .xls файла, то есть при его изменении она будет считать, что это другой файл, и будет пытаться импортировать по новой.
Вы можете заново импортировать поверх старых оценок, оценки спокойно перезаписываются. Могут возникнуть проблемы с дублями, лишь при добавлении в список.

[2016-10-04 10:04] systems-rebooter commented on #15
Спасибо! Тоесть, разницу сейчас имортнуть никак не получиться, верно?

[2016-10-04 17:22] REDNBLACK commented on #15
Да, верно

[2016-10-05 07:45] systems-rebooter commented on #15
Eсли удастся прикрутить локальную базу AucT-a, это частично решит проблему.

Покамись нашел такой выход:

`sed '/03.10.2016/q' kinopoisk.ru-votess.xls > kinopoisk.ru-votesss.xls`
_имортирует оценки, начиная с 3 октября 2016_

<img width="602" alt="screen shot 2016-10-05 at 10 42 17" src="https://cloud.githubusercontent.com/assets/8888190/19105138/1dfb030a-8ae9-11e6-85d4-027e8392875e.png">

Кто ж м

[2016-10-05 20:52] #15 closed, assigned to nobody

[2016-12-15 01:43] kybarg opened #16 "Can't add movie to watchlist, error status code: 403"

[2016-12-20 23:37] dankimio opened #17 "Спасибо"
За сэкономленное время

[2016-12-21 07:04] REDNBLACK commented on #17
:)

[2016-12-21 07:04] #17 closed, assigned to nobody

[2016-12-21 07:05] REDNBLACK commented on #16
Скорее всего строка авторизации не указана или указана неправильно.

[2017-01-08 18:06] kolkov commented on #12
@AucT что в итоге с правильным маппингом?

[2017-01-08 19:59] AucT commented on #12
@kolkov нет, неофициальное апи сдулось, так и не начавшись.
Имхо лучше запустить самому по алгоритму етой программи и прогнать через imdb поиск

[2017-01-08 20:26] kolkov commented on #12
@AucT спасибо, понял. (

[2017-01-08 20:32] kolkov commented on #12
@AucT а all_kinopoisk_.zip какой актуальности?

[2017-01-08 20:38] AucT commented on #12
@kolkov 2016-08

[2017-01-08 20:41] kolkov commented on #12
@AucT по актерам такой нету случайно? ;-)

[2017-01-12 19:50] kybarg commented on #16
Нет я подключаюсь и оно парсит, но не может добавить.

[2017-01-13 06:47] REDNBLACK commented on #16
Пришлите config.json и K2IDB.log из папки Пользователи/Имя пользователя/K2IDB, попробую посмотреть в чем дело

[2017-01-15 20:31] kolkov commented on #12
Блин, обидно... 2168 дублей по imdb_id :( чего же они не сделали столбцы уникальными (
![image](https://cloud.githubusercontent.com/assets/3740898/21965928/761a750c-db7a-11e6-99f2-efc9fe4925ac.png)
![image](https://cloud.githubusercontent.com/assets/3740898/21965940/c925ad5c-db7a-11e6-97b9-58b8f0ce8eeb.png)

[2017-01-28 16:47] Funkadelik opened #18 "Ошибка "Can't change movie rating""
Здравствуйте
Выдает такую ошибку
![error 1](https://cloud.githubusercontent.com/assets/25404805/22398060/2cddb1d4-e588-11e6-97fd-2f8fa92a6c74.png)
Строку авторизации IMDB указал. Файрвол на всякий случай отключал.
В файле лога пишет такое

Вот что в файле config

[2017-02-01 20:39] stepan0809 opened #19 "Не запускается."
Нажимаешь кнопку "Запустить" он покрутит колёсико возле мышки и всё. Никакого действия.

[2017-02-02 10:46] REDNBLACK commented on #18
IMDB что-то поменяли на сайте видимо, надо глянуть

[2017-02-02 10:46] #16 closed, assigned to nobody

[2017-02-02 10:47] REDNBLACK commented on #19
Какая ОС? Версия Java?
Пришлите config.json и K2IDB.log из папки Пользователи/Имя пользователя/K2IDB, по такому описанию ничего не ясно.

[2017-02-02 15:15] stepan0809 commented on #19
Странно, но я никак не могу прикрепить ни один тип файлов. При том что они указаны тут. Можно по почте сбросить?

[2017-02-02 15:19] stepan0809 commented on #19
https://cloud.mail.ru/public/7Xhp/bsGA3XfFx Загрузил в облако Mail.ru вирусов нет.

[2017-02-02 17:13] REDNBLACK commented on #19
А попробуйте удалить всю папку K2IDB и запустить заново, предварительно убив/закрыв все процессы java.
Очень странно, файл базы данных блокируется.

[2017-02-02 17:24] stepan0809 commented on #19
![image](https://cloud.githubusercontent.com/assets/25491222/22560403/29bbadfa-e97d-11e6-82af-d0d5cdb753ff.png)

[2017-02-02 17:25] stepan0809 commented on #19
https://cloud.mail.ru/public/JC7P/vS2AM5QC7

[2017-02-12 12:59] goldeneagle1 commented on #18
У меня похожая проблема:
Good Will Hunting(1997):
Can't change movie rating, error status code: 403
Can't add movie to watchlist, error status code: 403

И так для всех фильмов, похоже. В итоге пишет, что были обработаны 0 фильмов из общего количества.

[2017-02-13 17:27] stepan0809 commented on #19
Так что, никакой помощи не будет? Уже 11 дней прошло.

[2017-02-14 06:03] REDNBLACK commented on #19
А откуда взят файл с оценками? Экспортирован с кинопоиска? Если да, то у них сильно поменялась структура файлов, нужно переделывать программу.
Больше похоже на файл созданный вручную.

[2017-02-15 09:19] stepan0809 commented on #19
Да, файл взят с кинопоиска. Ничего не исправлено и не отредактировано.

[2017-02-15 09:30] REDNBLACK commented on #19
К сожалению нет времени на заработку, пока ничем не могу помочь.
Добавлю в описание пометку, что с новыми файлами не работает.

[2017-05-17 13:37] shishkoam commented on #19
А есть пример старого формата?

[2017-05-17 15:54] REDNBLACK commented on #19
@shishkoam вот
[kinopoisk.ru-test.xls.zip](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/1008330/kinopoisk.ru-test.xls.zip)

[2017-05-31 06:57] REDNBLACK commented on #19
Мне тут сообщили, что кинопоиск вернул старый формат экспортированных файлов. Так что вроде должно вновь работать. Пусть для вас уже это и не актуально.

[2017-05-31 06:57] #19 closed, assigned to REDNBLACK

[2017-06-02 12:20] #18 closed, assigned to REDNBLACK

[2017-06-20 10:19] jurazaika commented on #14
У меня та же история. java.io.IOException: Movie authorisation string is empty!
![default](https://user-images.githubusercontent.com/29569835/27328743-dc44ba02-55bb-11e7-9677-01af7662d431.png)

Куда можно выслать логи, и config.json?

[2017-06-20 10:23] REDNBLACK commented on #14
Повторю https://github.com/REDNBLACK/J-Kinopoisk2IMDB/issues/14#issuecomment-251181481

[2017-06-20 10:26] jurazaika commented on #14
Вставлял, вот кусок лога
2017-06-20 13:16:18,382 DEBUG logging [LoggerProviders.java:158] Logging Provider: org.jboss.logging.Slf4jLoggerProvider
2017-06-20 13:16:23,461 INFO  MovieHandler [ConnectionCheckHandler.java:41] IMDB url is successfully reached!
2017-06-20 13:16:23,462 INFO  MovieHandler [ParseIDHandler.java:35] Preparing movie Movie(title=Butterfly on a Wheel, year=2006, type=MOVIE, rat

[2017-06-20 10:30] REDNBLACK commented on #14
Выслать можно мне на почту - rednblack@protonmail.com
Попробуйте снова получить строку авторизации, выйдите и зайдите вновь на imdb.
Похоже что сессия прервалась.

[2017-06-20 10:33] jurazaika commented on #14
Я уже пробовал несколько раз. перевходил на imdb, вытирал каталог  K2IDB, не помогало ( В любом случае спасибо за продукт и помощь! Сейчас отправлю

[2017-07-20 09:04] dpashutskii opened #20 "Добавить в ошибки данные + Перенос в Watchlist"
1. После импорта оценок выдается таблица со списком фильмов которые не удалось замапить, скорее всего если их немного то это будет делаться вручную, хорошо было бы в ошибки вывести данные которые переносили (например имя фильма и оценку), чтобы сразу можно было внести данные вручную.
2. Очень не хватает функции переноса фильмов в Watchlist, или я просто не нашел?

[2017-07-22 17:13] REDNBLACK commented on #20
2. В watchlist тоже возможно добавить. Нужно указать его id, как id списка для добавления

[2017-07-22 17:14] REDNBLACK commented on #20
1. Вроде же есть имя фильма в том окне? Оценку постараюсь добавить.

[2017-07-22 18:06] dpashutskii commented on #20
1. Ну да я именно про оценку, иначе приходилось копировать название смотреть оценку и вручную проставлять. Спасибо!
2. По поводу id так же с начала подумал, но где его id? В командной строке такое:
![image](https://user-images.githubusercontent.com/13599412/28493559-7720574c-6f21-11e7-8a53-179b4d5ef5f7.png)

[2017-09-08 16:32] seyfer commented on #6
@REDNBLACK pull requestы принимаются?

[2017-09-08 18:59] REDNBLACK commented on #6
@seyfer конечно! можете даже продолжить этот проект как collaborator, у меня совсем нет на него времени и интереса.

[2017-09-30 12:38] OleksaVasylenko opened #21 "Не запускается: Error: Could not find or load main class org.f0w.k2i.gui.Main"
Запускаю из консоли командой java -jar Kinopoisk2IMDB_1.1.1.jar
Вывод: Error: Could not find or load main class org.f0w.k2i.gui.Main
ОС: Linux Mint 18.1 Serena
Java машина: openjdk-8-jre/xenial-updates,xenial-security,now 8u131-b11-2ubuntu1.16.04.3 amd64

[2017-10-06 22:01] REDNBLACK commented on #21
Попробую запустить через Docker, нет возможности установить Linux локально.

[2017-12-08 22:32] wapec commented on #21
тоже самое происходит
OS:  Solus 3
Java: openjdk version "1.8.0_172-solus", OpenJDK Runtime Environment (build 1.8.0_172-solus-b00), OpenJDK 64-Bit Server VM (build 25.172-b00, mixed mode)

[2017-12-11 22:12] dekalo-stanislav commented on #21
Приложение имеет зависимость на javaFX. Нужно установить библиотеки javaFX в системе, тогда заработает.

[2017-12-11 22:12] dekalo-stanislav commented on #21
sudo apt install openjfx openjfx-source libopenjfx-java libopenjfx-java-doc
было достаточно в убунте 17.10

[2017-12-12 15:11] wapec commented on #21
гуд, пошло, но дальше такое

`Dec 12, 2017 5:09:10 PM com.google.inject.internal.ProxyFactory <init>
WARNING: Method [public void org.f0w.k2i.core.model.repository.jpa.BaseJPARepository.delete(java.lang.Object)] is synthetic and is being intercepted by [com.google.inject.persist.jpa.JpaLocalTxnInterceptor@88b9a6a]. This could indicate a bug.  The method may be intercepted twice, or may not be inte

[2018-01-01 17:06] wapec commented on #19
![screenshot from 2018-01-01 19 05 46](https://user-images.githubusercontent.com/15906319/34469410-e2e09e80-ef26-11e7-9f5f-dd6e2a5583ce.png)
os: solus 3
java: openjdk version "1.8.0_172-solus"
OpenJDK Runtime Environment (build 1.8.0_172-solus-b00)
OpenJDK 64-Bit Server VM (build 25.172-b00, mixed mode)

[2018-02-01 20:04] ChildrenofkoRn opened #22 "Matching movie not found, Can't change movie rating, IMDB ID is not set"
При попытке отправить на IMDB получаю ошибки:
(Пробовал перелогиниться, чтобы получить другой ID, тоже самое)
Win 7 x64
[code]

[2018-02-05 15:21] REDNBLACK commented on #22
Вижу что какие-то проблемы с соединением. Программа достаточно прожорливая по ресурсам сети. Могу лишь посоветовать увеличить:

`timeout - Таймаут попытки соединения для каждого запроса; можете увеличить, если у вас, к примеру, плоблемы с интернетом. (По умолчанию) 3000`

[2018-02-05 15:23] REDNBLACK commented on #21
Да, действительно проблема в том, что в поставке openjdk нет JavaFX. Решается либо установкой обычной Java от Oracle, либо как подсказали тут https://github.com/REDNBLACK/J-Kinopoisk2IMDB/issues/21#issuecomment-350875543

[2018-02-05 15:23] #21 closed, assigned to REDNBLACK

[2018-02-05 15:25] #14 closed, assigned to nobody

[2018-02-06 14:32] ChildrenofkoRn commented on #22
до imdb.com потерь нет:

канал 70/70 mbits
из 137 на IMDB импортируется 55, при этом пишет, что все были с ошибками.
Таймаут увеличивал втрое, пробовал выставлять только XML.

А, ещё в сам список IMDB, ID которого использую, фильмы не добавляются, не знаю должны ли. Просто в профиль добавляются с оценкой и всё.

[debug.log](https://www.dropbox.com/s/zzsvc8a2wsz5n65/K2IDB_180206_1816.log?dl=0)

[2018-05-09 08:19] marknorkin commented on #22
Также столкнулся с этой проблемой, увеличение таймаута, изменение настроек сравнения не помогло. Ни один фильм не удалось перенести из 500+. В логах тоже что и у @ChildrenofkoRn. Есть ли решение ?

[2018-05-10 07:43] #22 closed, assigned to nobody

[2018-06-06 19:04] KeshaFinkel opened #24 "Не запускается"
Win 8.1 64bit
Java 8 update 171

Добавил файл, добавил куку, выставил режим только оценки и чистый запуск жму запустить ничего не происходит
[K2IDB.log](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/2077815/K2IDB.log)

[2018-06-06 20:05] REDNBLACK commented on #24
Не пробовали перезагрузить систему или убить процессы программы? По логу видно, что какой-то процесс блокирует доступ к базе данных программы.

[2018-06-09 20:12] KeshaFinkel commented on #24
Пробовал не помогло, как я могу определить чем заблокирована база?

[2018-06-09 20:20] REDNBLACK commented on #24
Попробуйте удалить папку с настройками программы и запустить эту версию:
https://github.com/REDNBLACK/J-Kinopoisk2IMDB/releases/tag/v1.1.1

[2018-06-09 20:22] REDNBLACK commented on #24
Кстати дело может быть в антивирусе

[2018-07-10 15:49] MariaLovesGithub commented on #24
Тоже самое что в v1.1.1, что в v1.2 ничего не происходит после старта. Антивируса нет [K2IDB.log](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/2181106/K2IDB.log)

[2018-07-11 07:36] REDNBLACK commented on #24
@MariaLovesGithub ОС тоже Windows? И какая версия Java?

[2018-07-13 11:09] MariaLovesGithub commented on #24
да Windows 7, Java Version 8 Update 171

[2018-07-23 19:37] docmikhail opened #25 "Не работает"
Версия 1.1.2. Все по инструкции.

Процесс шел несколько часов, по итогу сообщение: "Были обработаны 0 из 1655 фильмов".

Ошибки самые разные:

1.
Can't change movie rating, error status code: 403

2.
Read timed out
Can't change movie rating, IMDB ID is not set

3.
HTTP error fetching URL
Can't change movie rating, IMDB ID is not set

4.
Movie authorisation string is empty!

[2018-07-30 23:28] astronautzzz commented on #24
Win 10, Java Version 8 Update 181 все тоже самое что перчислено выше лог[](url)
[K2IDB.log](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/2243196/K2IDB.log)
Сейчас приложения не запускаеться, не знаю почему.

[2018-07-31 08:08] REDNBLACK commented on #24
@astronautzzz Не пробовали эту версию? https://github.com/REDNBLACK/J-Kinopoisk2IMDB/releases/tag/v1.1.1

У меня нет Windows, чтобы проверить, на остальных ОС все замечательно. Нужно понять в какой версии приложения это проявляется.

[2018-07-31 14:48] astronautzzz commented on #24
@REDNBLACK запустил приложение на Ubuntu 16.04 LTS, Java version 8 update 181. так же ничего не происходит после запуска.
[K2IDB.log](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/2245767/K2IDB.log)
проверял на Windows версию v1.1.1 ничего не произошло, даже не запустилось

[2018-07-31 21:19] REDNBLACK commented on #24
@astronautzzz перед запуском старой версии надо удалить папку с настройками программы всю

[2018-07-31 21:26] REDNBLACK commented on #25
@docmikhail https://github.com/REDNBLACK/J-Kinopoisk2IMDB/releases/tag/v1.1.1

Попробуйте удалить папку с настройками программы и запустить эту версию, очень похоже на плохое соединение с imdb

[2018-08-01 14:10] docmikhail commented on #25
1. Удалил рабочие папки программы и саму программу
2. Скачал версию 1.1.1
3. Отключил антивирус
4. Запустил от имени админа
5. Заполнил все поля согласно инструкции.

Не помогло. Те же ошибки.

[2018-08-08 20:57] docmikhail commented on #25
Пробовал повторить действия на виртуалке с чистой системой, где кроме Явы и вашего софта ничего не было. Результат такой же.

Что-то можно вообще сделать? Или про идею автоматического переноса оценок можно забыть?

[2018-08-10 11:05] REDNBLACK commented on #25
скорее всего imdb что-то поменяли в своем процессе, к сожалению у меня нет времени чтобы починить.

[2018-10-21 11:59] xtemp09 commented on #25
Как жаль, что не работает. Яндекс уничтожает Кинопоиск, надо срочно бежать с корабля.

[2018-11-18 04:46] yasujiroozu commented on #25
Здравствуйте REDNBLACK. Вы совсем не собираетесь чинить программу?

[2018-11-21 12:29] deityrox commented on #25
случайно не знаете,  как конвертнуть .xls от Кинопоиска в .csv IMDB? Потом его можно и импортировать в MovieLens, кому надо. (tag: convert )
Наверное я глупость спросил. Ведь необходим доступ к совмещенным базам обоих сайтов с перелинкованными названиями, либо напрямую выставление оценки через вашу прогу. То есть есть ли способ как-то в  оффлайне эти базы слинковать?
 Кому интересно, можете гуглит

[2018-12-24 11:04] extempl opened #26 "jar не запускается"
[code]

[code]

[2019-02-20 10:47] extempl commented on #26
Конкретно эта ошибка решается сбросом библиотеки шрифтов. Все удалённые шрифты будут сохранены в `Fonts (Removed)`. Ошибка исправлена в JDK10, но возможности апгрейда JRE пока нет.

[2019-02-20 10:47] #26 closed, assigned to nobody

[2019-02-20 16:28] extempl commented on #25
Из того, что я смог раскопать, так это то, что добавление фильмов в списки возможно починить, а голосование - нет. Для добавления фильмов используются новые авторизационные данные, а вот для голосования каждый раз генерируются новые ключи, видимо для противостоянию накрутке. Это только можно сэмулировать пользователя который будет ходить по страницам и кликать на звёздочки или только когда повится

[2019-02-20 17:23] yasujiroozu commented on #25
добрый вечер extempl. а вы сможете-возьмётесь починить списки?)

[2019-02-20 19:54] extempl commented on #25
Исправил. Вроде бы работает.
Pull request создан, пока не обновили тут, можно использовать версии моего форка: https://github.com/extempl/J-Kinopoisk2IMDB/releases/tag/v1.2.1

Если в логе есть ошибки 403 - значит где-то ошиблись в ключах конфигурации или они устарели.
Рекомендую сразу включать OMDB (нужно получить ключ предварительно), повышает процент успешно импортированных фильмов.

[2019-02-21 07:37] extempl opened #28 "Исправить импорт рейтинга"
- Определить, что серверу ещё нужно кроме параметра `auth`
- Возможно пойти путём консольного скрипта, который будет отправлять запросы со страницы списка (100 за запуск)

[2019-02-21 07:40] extempl commented on #25
Закрою этот реквест как исправленный, для исправления рейтинга создал новый #28.
Пока нет уверенности что рейтинг будет работать.

[2019-02-21 07:40] #25 closed, assigned to nobody

[2019-02-21 09:51] yasujiroozu opened #29 "не запускается"
спасибо extempl за оживление программы.
после нажатия кнопки запустить, грузится секунду и далее ничего не происходит. удалял папку программы несколько раз и запускал по новой, установил последнюю java. win 7 64.
[K2IDB.log](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/2888611/K2IDB.log)

[2019-02-21 11:22] extempl commented on #29
Посмотрю. На всякий случай обновите свою Java до актуальной версии (8 update 201)

[2019-02-21 13:07] extempl commented on #29
Проверил на Win8.1 со свежескачанной Java - всё в порядке. Похожую ошибку встречал, но не похоже что она влияет на результат. Скорее всего дело не в ней.
Проверьте ещё раз что все ключи правильные (актуальные), проверьте на запросе с `watchlist` вместо id другого списка.
Если так же - скиньте новый лог файл.
Прикрепляю тестовый файл с одним фильмом
[kinopoisk.ru-Favorites-test.xls.zip](https://git

[2019-02-21 13:11] extempl commented on #29
С тестированием на одном файле есть нюанс, нужно после каждого успешного импорта удалять `K2IDB.mv.db` файл. Пока не решил эту проблему.

[2019-02-21 17:35] yasujiroozu commented on #29
не могу понять в чем дело, ваш тестовый файл с одним фильмом переносит успешно, а мои никакие файлы не хочет, никакой реакции после нажатия кнопки "запустить". уже много раз проверил, разные папки с разными фильмами и K2IDB.mv.db удалял. вот тестовый файл с одним фильмом от меня [kinopoisk.ru-test (1).zip](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/2890370/kinopoisk.ru-test.1.zip)
и лог
[

[2019-02-21 18:48] extempl commented on #29
Дело в том, что поле "жанры" у нас используется для разделения на типы (документальный, короткометражка, фильм, сериал), а у вас в файле этого поля нет. Т.о. вам нужно переимпортировать список включив это поле, тогда всё будет работать.
Обновлю README.

[2019-02-21 18:50] extempl commented on #29
Вижу, что сейчас так экспортируется по умолчанию.

[2019-02-21 19:17] extempl commented on #29
@yasujiroozu  Пробуйте: https://github.com/REDNBLACK/J-Kinopoisk2IMDB/releases/tag/v.1.2.3

[2019-02-21 19:17] #29 closed, assigned to nobody

[2019-02-21 19:19] extempl commented on #24
Пробуйте последнюю версию: https://github.com/REDNBLACK/J-Kinopoisk2IMDB/releases/tag/v.1.2.3

Возможно у вас та же проблема, что и в #29.

Если всё так же - прикрепите последние логи.

[2019-02-21 19:19] #24 closed, assigned to REDNBLACK

[2019-02-21 19:20] extempl opened #30 "Использовать жанры из результатов парсинга IMDB/OMDB"
Из-за того, что кинопоиск больше не отдаёт жанры в файлах экспорта, мы не можем определить правильно тип фильма.

[2019-02-21 19:25] yasujiroozu commented on #29
ура, работает) спасибо большое)))

[2019-02-25 15:33] extempl commented on #25
Рейтинг работает через букмарклет (запуск из браузера). Смотрите последнюю версию и [README](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/blob/master/README.md)

[2019-02-25 15:34] extempl commented on #28
Рейтинг работает через букмарклет (запуск из браузера). Смотрите последнюю версию и [README](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/blob/master/README.md)

[2019-02-25 15:34] #28 closed, assigned to nobody

[2019-02-25 15:36] extempl commented on #20
`Watchlist` как список для импорта был добавлен несколько ранее.

Вывод оценок в результат на данный момент не актуально, посколько через приложение импорт оценок в принципе не работает. Работает через букмарклет (версия 1.2.4)

[2019-02-25 15:36] #20 closed, assigned to REDNBLACK

[2019-02-25 16:48] extempl commented on #6
Done. [v1.2.5](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/releases/tag/v1.2.5)

[2019-02-25 16:48] #6 closed, assigned to nobody

[2019-04-06 20:27] pdxLife opened #31 "auth string (control key) length is less than or equal 10!"
Проверил все данные что я вводил, не помогает.
Видимо что-то в авторизации не работает, но я не знаю на какую строку ругается программа

![imdb](https://user-images.githubusercontent.com/44197020/55674901-cc81ea80-58b2-11e9-83d1-1affd7b702ab.PNG)

[2019-04-11 15:23] extempl commented on #31
Это видимо про "пара ключ-значение" - нужно заполнить. Правда оно длиной не 10, а меньше

[2019-04-11 15:24] #31 closed, assigned to nobody

[2019-05-07 17:11] M9SO opened #32 "Не переносит"
Здравствуйте, всё сделал файл собственно итоговый получил ratings.json который, только при переносе на сам сайт, все фильмы без каких либо ошибок скипает. Ошибок в консоле не выдаёт, да вообще нечего там не выдаёт. Пытался разные фильмы, разные папки как и просто просмотр так и оценка. При формировании файла выдаёт  ошибку на некоторые позиции  "Can't add movie to watchlist, error status code: 403

[2019-05-07 17:22] extempl commented on #32
Уточните, не работает вообще ничего? Ratings.json и часть на сайте - только для выставления рейтингов, добавление в папку делает сама программа.
403 значит запрещено, возможно что-то не так с конфигами, то есть неавторизованы.
Можете привести кусок файла ratings.json?

[2019-05-07 17:24] extempl commented on #32
Скипает - в смысле в итоговом результате все фильмы в skipped и ни одного в success/error, правильно?

[2019-05-07 17:40] extempl commented on #32
@M9SO обновил букмарклет, кажется, там работала только первая страница. Попробуйте сейчас (нужно обновить у себя букмарклет новым кодом).
Тем не менее, в консоли должны были быть хоть какие-то ошибки (не особо читабельные, но должны были быть).

[2019-05-07 17:49] M9SO commented on #32
Если я Вас верно понял букмарклет это та ссылка которую надо в адресную строку вставлять, её обновил, но всё тоже, скрин не знаю как дать, не разбираюсь в данной теме.

Всё именно так.

Именно нечего вообще.

[2019-05-07 17:52] M9SO commented on #32
Привожу кусок файла в пример -  {"tt3749900":9,"tt2575988":9}
Собственно это весь он, я ради теста 2 фильма пытаюсь перенести.

[2019-05-07 17:53] extempl commented on #32
Эти фильмы есть в списке на странице которого вы запускаете импорт рейтингов?

[2019-05-07 17:55] M9SO commented on #32
Нет, они не отмечены вообще у меня негде.

[2019-05-07 17:58] M9SO commented on #32
Может ли это быть из за того что делаю в браузере хром?

[2019-05-07 18:16] extempl commented on #32
В этом и проблема.
Смысл в том, чтобы сначала сформировать список "просмотрено", где будут все те фильмы с оценками. Потом открыть этот самый список и запустить скрипт по импорту рейтинга. Соответственно, список "просмотрено" и список с рейтингами должны совпадать.

С хромом всё должно быть в порядке.

Если фильмы (не рейтинг) не импортируются в этот самый список - надо перепроверить настройки, мо

[2019-05-07 18:34] M9SO commented on #32
Да понял, изначально неверно понял как это работает, сам список просмотренного формироваться должен, но из за ошибки 403 не выходит, я всё верно понял?

[2019-05-07 18:38] extempl commented on #32
Можно, но он создаётся приложением. То есть приложение работает, создаёт и импортирует список прямо на сайт. Параллельно генерирует `ratings.json` для дальнейшего импорта рейтингов (проще сделать пока не получилось). То есть по результату работы программы у вас уже должен был бы заполниться соответствующий список (предварительно нужно создать пустой список на сайте и посмотреть у него id, который

[2019-05-07 18:40] extempl commented on #32
Может быть и такое, что изменилось что-то со стороны сайта, что используемый нами способ уже не работает. Я проверю это завтра, если у вас ничего не решится.

[2019-05-07 18:53] M9SO commented on #32
Сделал всё заново, теперь собственно выдаёт и предыдущую ошибку и новую, не знаю даже что мог сделать не так. Спасибо за развёрнутый ответ, попробую ещё завтра.
Matching movie not found
Can't change movie rating, IMDB ID is not set
Can't add movie to watchlist, IMDB ID is not set
Это всё те же 2 фильма, что и  в прошлый раз. Файл с кинопоиска не менял.

[2019-05-07 18:57] extempl commented on #32
Это на том же списке что и перед этим? В данном случае программа, собственно, не может найти этот фильм. Такое бывает, на больших выборках (а именно для них программа и создавалась) неизбежно будет процент фильмов, которые не были импортированы.
Вполне вероятно, что ваш тестовый фильм попал в этот процент. Для тестирования попробуйте взять какой-нибудь популярный фильм и легконаходимый, Начало, на

[2019-05-07 18:59] extempl commented on #32
А скиньте именно файл с кинопоиска - я попробую отследить проблему.

[2019-05-07 18:59] M9SO commented on #32
После включения "OMDB API key:" на те же фильмы ошибка с "Can't change movie rating, IMDB ID is not set" поменялась обратно на "Can't add movie to watchlist, error status code: 403". Список тот же. Побольше список гляну завтра

[2019-05-07 19:02] M9SO commented on #32
Вот собственно сам файл.

[kinopoisk.ru-mm (1).zip](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/3154134/kinopoisk.ru-mm.1.zip)

[2019-05-08 12:57] extempl commented on #32
@M9SO Уточните, что у вас используются разные значения для полей id и sid, а так же что они достаточной длины (в конце должно быть `%0D%0A`)

[2019-05-08 13:01] extempl commented on #32
Чуть позже по наличию времени постараюсь сделать автоматическую установку всех настроек (#33), поскольку они расширились и проще допустить ошибку (собственно, я сам её допустил и недоумевал, почему не работает).

[2019-05-08 13:05] extempl opened #33 "Сделать импорт всех настроек из строки cURL тестового запроса"
Тут есть все необходимые данные:

![](https://dsc.cloud/7a953f/Screen-Shot-2019-05-08-16-02-34.62.png)

[2019-05-08 13:25] M9SO commented on #32
285 символов, значения разные, но заканчиваются на %0D%0A, id и sid.

[2019-05-08 14:39] extempl commented on #32
В общем, я тоже сначала словил 403, но после уточнения параметров (по ошибке скопировал одно в два поля) оба фильма импортировались без проблем.

[2019-05-09 06:11] extempl commented on #33
Исправлено в [v1.2.6](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/releases/tag/v1.2.6)

[2019-05-09 06:11] #33 closed, assigned to extempl

[2019-05-09 06:12] extempl commented on #32
@M9SO пробуйте последнюю версию, там добавлена возможность добавления всех настроек одной строкой. Обратите внимание на обновления в Readme.

[2019-05-09 15:02] M9SO commented on #32
@extempl помогло когда взял cURL, хотя после этого ещё несколько раз копировал id и sid, вручную так и не вышло, сколько не пытался. Спасибо Вам за помощь!

[2019-05-09 15:08] extempl commented on #32
Супер. Ну там нужно все данные обновлять, не только id/sid.
А с рейтингами пробовали теперь в списке в котором есть фильмы?

[2019-05-09 15:18] M9SO commented on #32
Да всё нормально, обновлял все, походу у меня не то было в поле "Пара ключей-значения в текстовом запросе", так как проверил после заполнения через cURL.

[2019-05-09 16:53] #32 closed, assigned to nobody

[2019-06-16 15:08] whoizit opened #34 "Java 11+: NoClassDefFoundError exception in net.sf.launch4j.Main.main(Main.java:58)"
[code]

[2019-06-16 15:08] whoizit commented on #34
[code]

[2019-06-16 16:53] whoizit opened #35 "ratings.json"
киньте кто нибудь файл ratings.json, у меня эта прога не работает, я по быриньку скрипт накидаю для генерации этого файла.

[2019-06-16 22:54] extempl commented on #35
Формат довольно простой, но есть нюанс - Это **только** рейтинг. И для работы импорта нужно чтоб все фильмы уже были в списке.
[code]

[2019-06-16 22:55] #35 closed, assigned to nobody

[2019-06-16 22:58] extempl commented on #34
Попробуйте предпоследнюю стабильную версию, на 12 я ещё не тестировал.
Валится прямо на запуске? Или при каком-то действии?

[2019-06-16 23:00] whoizit commented on #34
на 11 ровно тоже самое. Прямо при запуске

[2019-06-16 23:02] extempl commented on #34
Это всё JDK, последняя JRE которая отдельно от JDK - 8 версии

[2019-06-16 23:11] whoizit commented on #34
[code]

я попробовал 1, 3, 7, 9. Всё тоже самое, только вывод между 1.2.6 и 1.2.5 разный

[code]

[2019-06-16 23:12] whoizit commented on #34
[code]

[2019-06-16 23:17] extempl commented on #34
Посмотрите этот issue: https://github.com/REDNBLACK/J-Kinopoisk2IMDB/issues/21, Может быть Ваш случай

[2019-06-16 23:20] whoizit commented on #34
1.2.5 запустилась при установке:
extra/java-openjfx 8.u172-2 (25.4 MiB 77.9 MiB)
    Java OpenJFX 8 client application platform (open-source implementation of JavaFX)

[2019-06-16 23:20] extempl commented on #34
Тогда точно JavaFX зависимость, проверьте пожалуйста на 12 версии. Или это на 12 уже?

[2019-06-16 23:28] whoizit commented on #34
это версия JavaFX 8 (`java-openjfx 8.u172-2`) для 8 jre. Для других версий JavaFX я что-то не наблюдаю.

На этом не работает:
[code]

[2019-06-17 08:17] extempl commented on #34
Видимо нет пока поддержки для JDK, тут остаётся только ждать.

[2019-06-17 08:17] #34 closed, assigned to extempl

[2019-06-17 08:28] whoizit opened #36 "скрипт не работает"
firefox 67.0.2
chromium 75.0.3770.90

и в адресной строке прописывал
javascript:https://github.com/REDNBLACK/J-Kinopoisk2IMDB/blob/master/core/ratingBookmarklet.min.js.txt
javascript:https://github.com/REDNBLACK/J-Kinopoisk2IMDB/raw/master/core/ratingBookmarklet.min.js.txt

и вставлял содержимое этого файла в адресную строку
и вставлял это в JS console через f12

ничего не происходит. В FF оно даж

[2019-06-17 08:33] whoizit commented on #36
заработало когда скопировал содержимое этого файла и вставил в JS консоль в chromium https://github.com/REDNBLACK/J-Kinopoisk2IMDB/blob/master/core/ratingBookmarklet.js

[2019-06-17 08:33] #36 closed, assigned to nobody

[2019-06-17 08:43] extempl commented on #36
Да, там есть нюанс, сейчас браузеры во избежание всяких проблем с секьюрностью стали вычищать `javascript:` при вставке строки в адресную строку, потому нужно дописывать вручную, что я указывал в ридми. А вставлять нужно было именно содержимое, по пути к файлу браузер не умеет. Вариант с консолью тоже рабочий, конечно.

[2019-09-10 14:01] alexeyboo opened #37 "Не работает HTTP error fetching URL Can't change movie rating, IMDB ID is not set Can't add movie to watchlist, IMDB ID is not set"
[K2IDB.log](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/3596016/K2IDB.log)

Jack(1996):
HTTP error fetching URL
Can't change movie rating, IMDB ID is not set
Can't add movie to watchlist, IMDB ID is not set
и так на каждый

[2019-09-10 14:04] extempl commented on #37
IMDB что-то поломал у себя. Гляну сегодня-завтра

[2019-09-10 15:14] extempl commented on #37
@alexeyboo с OMDB API пробовали?

[2019-09-10 16:50] alexeyboo commented on #37
@extempl да. И с ним, и без

[2019-09-12 08:23] extempl commented on #37
@alexeyboo И как результат? В логах, понятное дело, будут ошибки. Но с OMDB выход успешного импорта должен быть заметно выше.
С IMDB не всё так просто, скорее всего поддержку импорта придётся чуть менее чем полностью выпилить, как устаревшую.
Что касается рейтинга - он в принципе на данный момент не импортируется. Доступен в полуавтоматическом режиме через браузерный апплет.

[2019-09-12 12:19] alexeyboo commented on #37
@extempl ни в какую. Настройки авторизации еще раз проверил, все правильно. Делал добавить в список с рейтингом, просто добавить в список, повышал timout до 100к, отдельно OMDB API (его я активировал), вместе с IMDB XML, Наверное все же что-то с авторизацией и куками они поменяли

[2019-09-21 11:26] extempl commented on #37
@alexeyboo https://github.com/REDNBLACK/J-Kinopoisk2IMDB/releases/tag/v1.2.7

[2019-09-21 11:26] #37 closed, assigned to nobody

[2019-09-23 05:51] alexeyboo opened #38 "Не запускается на windows 10 1903"
версия 1.2.7 не запускается на windows 10 1903

[2019-09-23 06:21] extempl commented on #38
@alexeyboo там надо файл конфигов удалить

[2019-09-23 06:40] alexeyboo commented on #38
@extempl спасибо, в список добавилось. а можно поподробнее про браузерный апплет для рейтинга?

[2019-10-02 13:40] extempl commented on #38
Так, браузерный апплет. Вот небольшой скринкаст: https://dsh.re/9322e

[2019-10-05 08:43] #38 closed, assigned to nobody

[2019-10-11 10:56] dgolobor opened #39 "Не запускается скрипт импорта рейтингов"
Добавил в букмарки url таким образом: javascript:https://github.com/REDNBLACK/J-Kinopoisk2IMDB/blob/master/core/ratingBookmarklet.min.js.txt

При вызове ничего не происходит, ошибка в консоли chrome Uncaught SyntaxError: Unexpected end of input

[2019-10-15 15:32] extempl commented on #39
@dgolobor https://dsh.re/9322e

[2019-10-15 15:32] #39 closed, assigned to nobody

[2019-12-25 04:37] mi-abr opened #40 "Программа не работает"
Все действия выполнены по инструкции, результат такой:

<img width="309" alt="Screenshot_1" src="https://user-images.githubusercontent.com/59112845/71432274-36207e00-26fa-11ea-9a2a-918a82a86f2c.png">

[2019-12-25 11:41] extempl commented on #40
@mi-abr Ну вы же понимаете, что такой репорт сложно чинить? Приложите, хотя-бы сэмплы файлов, которые использовали и логи из папки с программой. Видимо в ваших файлах не было найдено ни одного фильма (записи битые, или ещё что-то)

[2019-12-25 18:47] mi-abr commented on #40
Сэмпл xls прикладываю, но лог в папке с программой (K2IDB.log) - пустой 0 кб.

[1.zip](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/4000745/1.zip)

[2019-12-26 21:47] extempl commented on #40
Формат у вас странный. Слишком правильный.
Кинопоиск экспортирует HTML разметку в XLS. Только что проверил - ничего не поменялось.
Используете этот экспорт: https://dsh.re/7896e?

[2019-12-26 21:49] extempl commented on #40
Или похоже, что вы пересохранили файл из экселя. Так работать не будет

[2020-01-02 11:28] KirillK190 opened #41 "Программа не выставляет рейтинг."
Фильмы добавляются в список, но рейтинги совсем не выставляются. Делал всё по инструкциям.

[2020-01-02 11:28] extempl commented on #41
@KirillK190 https://github.com/REDNBLACK/J-Kinopoisk2IMDB#%D0%B8%D0%BC%D0%BF%D0%BE%D1%80%D1%82-%D1%80%D0%B5%D0%B9%D1%82%D0%B8%D0%BD%D0%B3%D0%B0 читали?

[2020-01-02 11:30] KirillK190 commented on #41
Да, читал, но на маке нет такого файла, который описывается в инструкции

[2020-01-02 11:35] extempl commented on #41
@KirillK190 нужно было отметить выставления рейтинга при импорте фильмов - тогда файл генерируется. Можете запустить только выставление рейтинга отдельно

[2020-01-02 11:35] KirillK190 commented on #41
Понял, спасибо.

[2020-01-02 11:37] extempl commented on #41
Там по умолчанию выбран комбинированный режим.
Видимо, вы выбрали только импорт фильмов. Постараюсь сделать понятнее.

[2020-01-02 17:20] bulletproof2k commented on #40
Здравствуйте, у меня ошибку выдает.
![Ошибка К2IMDb](https://user-images.githubusercontent.com/1818579/71681201-1b56a500-2d9d-11ea-8225-06fcfe8039c0.jpg)

[2020-01-02 17:40] extempl commented on #40
@bulletproof2k вы авторизационные данные не ввели. Смотрите тут: https://github.com/REDNBLACK/J-Kinopoisk2IMDB#%D0%BD%D0%B0%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8-%D0%B0%D0%B2%D1%82%D0%BE%D1%80%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D0%B8-imdb

[2020-01-02 17:41] #41 closed, assigned to nobody

[2020-01-02 17:42] #40 closed, assigned to nobody

[2020-01-03 16:02] bulletproof2k commented on #40
Какие авторизационнные данные вы имеете в виду, все поля заполнены? Я не программист объясните доступней.

[2020-01-03 16:05] extempl commented on #40
@bulletproof2k Попробуйте пойти путём "Генерации из cURL".
По ссылке выше есть описание с картинками. К сожалению, невозможно вытянуть все эти данные программой, иначе так бы и сделали, так что тут деваться некуда.

[2020-01-03 16:07] extempl commented on #40
@bulletproof2k Не знаю, какие поля у вас заполнены, на скриншоте в большом поле нет ничего (cURL), ниже есть кнопка-спойлер "установить вручную". Там что-нибудь введено в поля? Если нет, значит ничего не заполнено. Смотрите инструкции, они достаточно подробные. Если возникнут конкретные вопросы - спрашивайте. На неконкретные отвечать сложно.

[2020-01-03 16:08] bulletproof2k commented on #40
Нужен url списка? Как в хроме открыть консоль разработчика?

[2020-01-03 16:09] extempl commented on #40
@bulletproof2k https://dsh.re/1791c (Developer Tools  в самом низу. Не знаю, как оно в русской локализации)
Нужен ID списка. И нужна пачка авторизационных данных.
Ещё раз загляните по ссылке: https://github.com/REDNBLACK/J-Kinopoisk2IMDB#%D0%BD%D0%B0%D1%81%D1%82%D1%80%D0%BE%D0%B9%D0%BA%D0%B8-%D0%B0%D0%B2%D1%82%D0%BE%D1%80%D0%B8%D0%B7%D0%B0%D1%86%D0%B8%D0%B8-imdb

[2020-01-03 16:39] bulletproof2k commented on #40
Вот что у меня в консоли разработчика.
![Безымянный](https://user-images.githubusercontent.com/1818579/71735926-cc724380-2e60-11ea-9aaa-8588b76058a5.jpg)

[2020-01-03 17:04] extempl commented on #40
@bulletproof2k
Ага, изменились запросы. Ищите вместо `add` `tt0118767`. Рядом с ним должно быть `PUT`: https://dsh.re/b274b. Пробуйте на нём. Возможно не сработает, это я постараюсь проверить позже. Но по идее должно.

[2020-01-04 05:55] extempl commented on #40
@bulletproof2k Извините, сам уже забыл о чём речь.
Нужно добавить не в watchlist, а именно в список.
В инструкции это, кстати, явно указано:
[code]
Навести на иконку добавления в watchlist - откроются пользовательские списки:
![](https://dsh.re/921cb4)
При клике на любой из них будет нужный запрос (add).

Для добавления в watchlist там да, другой запрос с другими правилами.

[2020-01-05 07:23] extempl commented on #40
@mi-abr, @bulletproof2k всё получилось у вас?

[2020-01-05 07:30] bulletproof2k commented on #40
Приветствую, еще не занимался.

[2020-02-12 15:31] eyenalxai opened #42 "Функция экспорта оценок/cписков убрана с сайта"
Ответ от службы поддержки:

_На данный момент, увы, эта возможность была убрана с сервиса._

_Сейчас мы собираем пожелания на странице_ https://kinopoisk.userecho.com .
_Здесь можно поделиться своими идеями или проголосовать за чужие – самые популярные постараемся воплотить._

_Будем признательны, если вы проголосуете за похожее пожелание:_ https://kinopoisk.userecho.com/communities/4/topics/1326-

[2020-02-12 15:39] extempl commented on #42
Надеюсь что потому что хотят сделать нормальную выгрузку, потому что формат там был очень странный.

[2020-03-23 16:01] kpspu opened #43 "Лог ошибок"
Добрый день!
Программа пишет лог ошибок (желательно в .csv)? Чтобы была потом возможность дозагрузить только оставшиеся ошибки другими способами, либо на крайний случай добить их вручную.

[2020-03-23 16:06] kpspu commented on #42
Вряд ли будет хоть какая-то выгрузка от нового Кинопоиска. Для импорта фильмов теперь надо использовать возможность загрузить оценки и списки на Кинориум, далее выгрузить .csv оттуда. Форматы файлов еще не сличал.

[2020-03-23 20:06] kpspu opened #44 "Изменились куки на IMDB"
Более нет id и sid.
Но даже если их подставить вручную из token, программа выдает "импортировано все 0 фильмов без ошибок". Форматы файла пробовал и как на кинопоиске, и как на imdb

[2020-05-01 13:32] ziptt opened #45 "Программа не работает"
Исправьте пожалуйста

[2020-05-01 15:07] extempl commented on #42
Саппорт КиноПоиска 2 месяца назад
Мы отказались от этой функциональности, так как в масштабах КиноПоиска ей действительно мало пользовались.

Но нам, конечно, не хотелось бы лишать пользователей возможности решать возникшие задачи прямо в сервисе.

Давайте по пунктам разберем задачи, для которых использовался экспорт в Excel, основываясь на комментариях топика:

1. Бэкап данных на случай удаления,

[2020-05-01 15:07] #42 closed, assigned to nobody

[2020-05-01 15:13] extempl commented on #43
Логи пишет в `~/K2IDB/logs`

[2020-05-01 15:13] #43 closed, assigned to nobody

[2020-05-01 15:16] extempl commented on #45
Вы хоть добавьте данных чтоб исправить. Или поставьте плюс существующим тикетам.
Пока закрою, следите за #44. Если у вас что-то другое - опишите проблему.

[2020-05-01 15:16] #45 closed, assigned to nobody

[2020-05-01 17:05] extempl commented on #44
https://github.com/REDNBLACK/J-Kinopoisk2IMDB/releases/tag/v1.2.8

[2020-05-01 17:05] #44 closed, assigned to extempl

[2020-05-20 10:31] bystritskiy opened #46 "Добавить Kinorium 2 IMDB importer"
Так как [Кинопоиск убрали функцию выгрузки в excel своих оценок](https://kinopoisk.userecho.com/communities/4/topics/1331-eksport-v-excel-libo-funktsiya-bekapa), то можно использовать такую схему:

1. kinorium может подгрузить все оценки из kinopoisk
2. в kinorium делаем экспорт csv
3. и уже эту csv подставляем в J-Kinopoisk2IMDB

[2020-05-20 11:59] grcool commented on #46
Пишет "Были обработаны все 0 фильмов, без ошибок".
В логах пишется:
[code]

[2020-05-21 17:09] ward276 commented on #46
если цель НЕ допилить именно этот проект, а сделать импорт оценок, то используя kinorium и этот скрипт: https://greasyfork.org/en/scripts/23584-imdb-list-importer/feedback можно заимпортить фильмы с оценками.

Единственное что там не хватает это IDшника IMDB (или прямой урлы на фильм. IDшник выглядит как tt2342323) - если вам это поможет )

сделал бы сам и выложил сюда, но у меня лапки )

[2020-05-22 11:37] 22online opened #47 "Не запускается под Mint"
Версия 1.2.8

Первый вариант запуска:
[code]

Второй вариант запуска:
[code]

[2020-05-22 11:41] 22online opened #48 "Не подает признаков жизни после нажатия "Запустить""
Если начать закрывать, выдает предупреждение "Вы хотите прервать обработку фильмов?"

Лог:
[K2IDB.log](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/4667794/K2IDB.log)

Файл экспорта (здесь как txt, т.к. гитхаб не дает прицепить xls, в утилиту скармливал как xls)
[Найти в Интернете.txt](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/4667795/default.txt)

[2020-05-24 19:36] slava-nat commented on #46
Указанный скрипт умеет импортировать только список фильмов (без рейтингов).

Может, имеет смысл подкорректировать поля экспорта из Кинориума, чтобы они выглядели, как от Кинопоиска, и тогда скормить уже изменённый файл данной программе.

[2020-05-25 19:14] slava-nat commented on #46
На данный момент для переноса списка просмотренных фильмов и оценок из Кинопоиска в IMDB через Кинориум можно пользоваться следующей схемой (хотя придётся немного помучаться):

Идея заключается в том, чтобы получить файл с данными из Кинопоиска и изменить его так, чтобы его смогла "съесть" данная программа.

1. Регистрируемся на Кинориуме и в настройках аккаунта импортируем данные из Кинопоиска;
2

[2020-05-25 20:26] grcool commented on #46
slava-nat, спасибо за инструкцию) После манипуляций с файлом программа приняла файл, нашла около половины фильмов из списка и якобы выставила оценки) На IMDB оценки так и не появились))
[code]

[2020-05-25 20:59] slava-nat commented on #46
Пожалуйста)
Рейтинги программа автоматически не добавляет. Она создаёт файл `ratings.json`, который нужно самому запустить на сайте imdb, как это показано на вот этом [видео](https://dsh.re/9322e) (+ читай [инструкцию](https://github.com/REDNBLACK/J-Kinopoisk2IMDB#%D0%B8%D0%BC%D0%BF%D0%BE%D1%80%D1%82-%D1%80%D0%B5%D0%B9%D1%82%D0%B8%D0%BD%D0%B3%D0%B0)). Работает не быстро, но добавляет все рейтинги.

[2020-05-25 21:10] grcool commented on #46
Кажется гораздо проще проставить все вручную)))
![image](https://user-images.githubusercontent.com/2117206/82843271-593b9d80-9ee5-11ea-8bfd-88836f756127.png)

[2020-05-25 21:55] slava-nat commented on #46
Совсем необязательно всё время нажимать на ОК. Скрипт сам всё делает. Через некоторое время это окошко покажет success: 20 и т.д.

[2020-05-25 22:10] grcool commented on #46
Не, у меня после этого окна вообще больше ничего не происходит)

[2020-05-26 03:35] extempl commented on #46
@grcool Когда скрипт запускаете находитесь в списке в который импортировали фильмы?
Оно берёт total из строки `6 titles`: https://dsh.re/56600
Видимо у вас или другая страница, где нет этого элемента или там всего несколько фильмов.
Окно результатов должно выводиться только в конце, когда суммарное кол-во результатов  == общему кол-ву фильмов в списке.

[2020-05-26 03:37] extempl commented on #46
@grcool, @slava-nat
На счёт "половины фильмов" - обратите внимание на этот раздел: https://github.com/REDNBLACK/J-Kinopoisk2IMDB#%D0%B4%D0%BE%D0%BF%D0%BE%D0%BB%D0%BD%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5
И на этот (описание поля Тип запроса): https://github.com/REDNBLACK/J-Kinopoisk2IMDB#%D0%BF%D0%BE%D0%B4%D1%80%D0%BE%D0%B1%D0%BD%D0%BE%D0%B5-%D0%BE%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%

[2020-05-26 09:58] grcool commented on #46
Всем спасибо за советы, процесс наконец налажен) Из 850 тайтлов вручную пришлось обработать около 50 - подцепились всякие короткометражки, вырезанные сцены, документалки и making of)

[2020-08-23 08:59] FastGrandmother opened #49 "Проблемы с аутентификацией"
При аутентификацией в ручном методе возникает ошибка "auth string (control key) lenght is less than or equal to 2!", но в at-main, session-id и ubid-main не должно быть два символа, а других полей для заполнения нет.
А при генерации из cURL валится ошибка "auth string (at-main) lenght is less than or equal to 10!"
Просьба помочь с решением проблемы.
win10 2004, java v8 update 261
![изображение](ht

[2020-08-24 12:30] extempl commented on #49
https://github.com/REDNBLACK/J-Kinopoisk2IMDB/releases/tag/v1.2.9

[2020-08-24 12:30] #49 closed, assigned to nobody

[2020-08-24 12:32] extempl commented on #48
Попробуйте удалить файл `C:/Users/kt4k-win/K2IDB/db/K2IDB.mv.db` и скачать последнюю версию (1.2.9)

[2020-08-24 12:33] extempl commented on #47
Попробуйте последнюю версию (1.2.9)
Какая версия Java?

[2020-09-23 01:24] Aleks13Y opened #50 "ошибка auth string (at-main) length is less than or equal to 10"
ошибка auth string (at-main) length is less than or equal to 10
версия 1.2.9
id хз откуда брать взял uu
![12344](https://user-images.githubusercontent.com/71740515/93953298-bfc9ae80-fd53-11ea-8b9d-4e2c6993b796.png)
[kinopoisk.zip](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/5264953/kinopoisk.zip)

[2020-09-23 02:41] extempl commented on #50
Посмотрите пожалуйста Readme. Вроде убрал лишнее чтоб было проще и не нужно было искать все эти переменные, но что-то не сработало 😄

https://github.com/REDNBLACK/J-Kinopoisk2IMDB#%D0%B3%D0%B5%D0%BD%D0%B5%D1%80%D0%B0%D1%86%D0%B8%D1%8F-%D0%B8%D0%B7-curl

https://github.com/REDNBLACK/J-Kinopoisk2IMDB/blob/master/docs/ObtainIMDBcURL.png

[2020-09-23 02:41] #50 closed, assigned to nobody

[2020-09-23 10:56] Aleks13Y commented on #50
я не понимаю как добавить фильм не в watchlist (Далее добавляем фильм вручную в любой список (кроме watchlist))
могу добавить только так Your Lists - (созданный ранее лист под любым названием например у меня Movie) - (3 точки ...) - Edit - Add a movie or TV show to this list: (тут вводишь любой фильм клацаеш и он в листе) при этом add параметра нету

[2020-09-23 11:00] extempl commented on #50
@Aleks13Y при наведении на флажок: https://dsh.re/073f2

[2020-09-23 11:43] Aleks13Y commented on #50
когда я жму на + у меня нет списка созданных листов, у меня просто добавляет в watchlist (раскрывающегося меню нету)
при наведении на флажок только click to add to watchlist
![1234](https://user-images.githubusercontent.com/71740515/94008631-fdf2bc80-fdab-11ea-8b31-3e7fa80eeaa8.png)
![321](https://user-images.githubusercontent.com/71740515/94008653-064af780-fdac-11ea-9aec-d9b1022d8937.png)

[2020-09-23 11:49] extempl commented on #50
@Aleks13Y список появляется при наведении

[2020-09-24 12:12] Aleks13Y commented on #50
Contributors  Show reference view with full cast and crew (advanced view) (убрал галочку с настройки в профиле появились листы)
потом не видел параметра add потому что тип данных в Network стоял other а не all. ели ели.

[2020-10-24 22:58] dedpawl commented on #48
Не помогает, та-же самая ошибка

[2020-10-25 04:14] extempl commented on #48
Прикрепите новый лог.
Из прошлого судя по всему - было аварийно закрыто приложение, файл базы данных остался залочен, при следующем запуске уже ничего не работало. Почему не работало перед этим - неясно.

[2020-10-25 15:55] dedpawl commented on #48
[K2IDB.log](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/5435103/K2IDB.log)

[2020-10-26 07:10] extempl commented on #48
@dedpawl У вас тоже Windows?

[2020-10-26 15:54] dedpawl commented on #48
@extempl Да

[2020-11-21 15:30] alteranium opened #51 "Не запускается exe-файл на Windows 10"
![image](https://user-images.githubusercontent.com/8143230/99880862-d1d2ab00-2c37-11eb-9116-bf7412bc2679.png)

x64

Проблема наблюдается с Kinopoisk2IMDB-1.2.8.exe, Kinopoisk2IMDB-1.2.9.exe.  Ошибок никаких нет (визуально по крайней мере), просто ничего не происходит.

А вот при запуске Kinopoisk2IMDB-1.2.7.exe GUI появляется штатно.

[2020-12-04 14:06] xiobartreexs opened #52 "Нет кнопки экспорта в эксель"
Сабж, что делать?

[2020-12-04 14:11] extempl commented on #52
Ничего: https://github.com/REDNBLACK/J-Kinopoisk2IMDB/issues/42

[2020-12-04 14:11] #52 closed, assigned to nobody

[2020-12-09 16:34] dedpawl commented on #48
Так есть у кого идеи что с этим делать то?

[2020-12-28 17:46] whyleee commented on #51
Та же проблема. JAR тоже не работает, выдаёт такой стэктрейс:

[code]

[2020-12-28 17:56] whyleee commented on #51
Проблема воспроизводится на Java 9. После установки Java 8 и удаления 9-й версии - всё заработало.

[2021-01-03 22:37] alteranium commented on #51
@whyleee, снёс Java. Установил JRE 8. Всё ок, приложение запустилось.

Появился другой вопрос. Может, подскажете. На КП экспорт выпилили. Ч/з кинориум CSV собрал. Посмотрел парсер. Если правильно понимаю, в XLS-файле нужны следующие столбцы:  "моя оценка", "русскоязычное название", "оригинальное название", "год" и "жанры". Однако, всё равно получаю:
![Screenshot_3](https://user-images.githubuserco

[2021-01-04 04:53] extempl commented on #51
@segaltre пример файла с КП:
[kinopoisk.ru-mm (1).xlsx](https://github.com/REDNBLACK/J-Kinopoisk2IMDB/files/5763096/kinopoisk.ru-mm.1.xlsx)

[2021-06-11 11:47] AucT commented on #51
создал 2 go скрипта
1) експорт кп https://github.com/AucT/data-exporter
2) трансформер кп2imdb https://github.com/AucT/data-transformer

если кому нужно

[2021-06-11 11:48] AucT commented on #48
@dedpawl создал 2 go скрипта
1) експорт кп https://github.com/AucT/data-exporter
2) трансформер кп2imdb https://github.com/AucT/data-transformer

если кому нужно

[2021-06-11 13:56] extempl commented on #48
@AucT Супер! Всё никак руки не доходят починить. Я бы порекомендовал Readme перевести на русский, Кинопоиск на imdb переносят не только Украинцы ;)

[2021-07-05 11:08] dariamindel opened #53 "ошибка auth string (at-main) length is less than or equal to 10"
Ошибка auth string (at-main) length is less than or equal to 10
Версия 1.2.9
Проблема с cURL - непонятно откуда его брать, инструкция устарела.
Скрины с последовательностью действий прилагаю:
![image](https://user-images.githubusercontent.com/86959776/124462209-24fa0800-dd9a-11eb-80cf-ccb67850c238.png)
![image](https://user-images.githubusercontent.com/86959776/124462287-3e02b900-dd9a-11eb-8acc-a9

[2021-07-07 10:10] extempl commented on #53
@filthykyke попробуйте `Copy as cURL (bash)`, там формат ожидаемый для программы, инструкция писалась из под MacOS.

[2021-07-15 11:08] dariamindel commented on #53
Copy as cURL (bash) выдаёт такую же ошибку

![image](https://user-images.githubusercontent.com/86959776/125777616-32a19654-cbec-448e-82d5-7a0a0e30ce64.png)

[2022-01-05 09:51] tgptgptgp commented on #46
Жесть я даже не понимаю как скачать test_data_file_exported_from_lists.xls

[2022-01-05 11:09] extempl commented on #46
https://raw.githubusercontent.com/REDNBLACK/J-Kinopoisk2IMDB/master/core/src/test/resources/parser/test_data_file_exported_from_lists.xls

[2022-01-05 19:51] tgptgptgp commented on #46
Не я просто не понимаю вроде все правильно сделал все равно ошибка auth sting (at main) length is less or equal to 10. А просто экзешник запустить достаточно или еще что надо сделать ?

[2022-01-05 19:55] tgptgptgp commented on #46
Может cURL какой-то надо добавлять перед запуском ?

[2022-01-06 08:25] tgptgptgp commented on #46
А ну хотя та же самая ошибка когда я тестовый неизмененный файл вставляю

[2022-01-06 10:21] tgptgptgp commented on #53
Вообще хоть че меняешь все равно эта ошибка

[2022-01-08 06:21] Vikt0rov commented on #53
Тоже не могу импортировать списки из-за этой ошибки. Пните, как будет решение.

[2022-01-09 14:11] 0zhu commented on #53
Нашёл корректный auth string (at-main) если в консоли фильтровать не по 'add', а по 'api'.
Это будет последняя появившаяся строка после добавления фильма в список.
В скопированном тексте можно найти строчку header cookie и at-main в нём.
Проблема в том, что приложение всё равно ругается на 'auth string (at-main) length is less than or equal to 10', хотя это не так.

[2022-02-04 06:44] wileyfoxyx opened #54 "Нет возможности импортировать оценки с КП"
Не совсем понятно откуда импортировать оценки на КиноПоиске, так как оттуда убрали экспорт оценок

[2022-02-06 11:57] anxieuse commented on #54
Сейм. Если разберетесь, дайте знать, пожалуйста.

[2022-03-23 19:43] dtinside commented on #54
![image](https://user-images.githubusercontent.com/4015892/159782790-af7ca511-f977-4620-874c-2420f190f09b.png)